* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.width {
    width: 1000px;
    margin:auto; 
}

/* HEADER */
.logo {
    height: 50px;
    width: 110px;
    padding-right: 5px;
    border-right:1px solid grey;
}

.container_nav li {
    display: inline-block;
    margin: 10px;
}
/* FINE HEADER */


/* MAIN */
.container_hero {
    background-image:linear-gradient(rgba(0, 0, 0, .3),rgba(0, 0, 0, .3)),url(../img/banner.jpg);
    height: 500px;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.container_hero_title {
    width: 500px;
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: white;
}

.container_article {
    height: 500px;
    position: relative;
}

.container_title_article {
    margin: 25px 0;
}

.container_title_article p {
    color: gray ;
}

.container_article_img {
    position: relative;
}

.container_article_img::after {
    content: "";
    display: table;
    clear: both;
}

.article1 {
    width: 20%;
    float: left;
}

.container_article_img img {
    filter: brightness(80%);
    border-radius: 10px;
    width: 100%;
}
